/**
 * CSS commom for all 
 *   https://github.com/ppKrauss/habemus-papam/tree/master/templates
 * @version 1.0 beta1
 * @author P P Krauss and collaborators at https://github.com/ppKrauss/habemus-papam
 * @licence MIT
 */

div.row{    
	display: table;
	width: 100%;
}
.comment {
	width: 50%;
    display: table-cell;
    vertical-align: middle;
	font-size: 13pt;
    padding: 12pt 12pt 12pt 12pt;		
}
.announcement {
	width: 50%;		
    display: table-cell;
    vertical-align: middle;
	font-family: Arial;
	font-size: 13pt;
	color: #630;
	text-align:left;
    padding: 6pt;
    border: 1px dotted #630;
    margin: 6pt;
}
p { text-align:left }
.pname { font-style: italic; font-size: 120%; }

